
@{
    ViewBag.Title = "StickyView";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div id="data1">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">List Sticky</h4>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" id="tableAjax">
                        @{
                            Html.RenderAction("LoadTable", "Sticky");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-url="@Url.Action("AddorUpdate","Sticky")" style="margin: 10px 10px">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalcontent" style="padding: 10px 10px">
        </div>
    </div>
</div>
@section scripts{
    <script>
        function SubmitForm(form) {
            debugger;
            post_url = $(form).attr("action");
            $.ajax({
                type: "POST",
                url: post_url,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        $('#exampleModal').modal('toggle');
                        $("#tableAjax").load("@Url.Action("LoadTable", "Sticky")");
                        swal("Update successful", "Press the button below to exit!", "success");

                    } else {
                        $('#exampleModal').modal('toggle');
                        $("#tableAjax").load("@Url.Action("LoadTable", "Sticky")");
                        swal("Update failed", "Press the button below to exit!", "error");
                    }
                }
            });
            return false;
        }

        function Popup(urlMem) {

            var url = urlMem;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    $('#modalcontent').html(response);
                    $("#exampleModal").modal("show");
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }

    </script>
}



