
@{
    ViewBag.Title = "ContactView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/client/home/css")

@{
    Html.RenderAction("_banner", "home");
}

<div class="hero_boxes" id="hero_boxes">
    <div class="hero_boxes_inner">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 hero_box_col">
                    <div class="hero_box d-flex flex-row align-items-center justify-content-start" style="background-color: #01BAFD;">
                        <img src="~/Content/Client/images/earth-globe.png" class="svg" alt="">
                        <div class="hero_box_content">
                            <h2 class="hero_box_title">Events</h2>
                            <a href="/events" class="hero_box_link">view more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 hero_box_col">
                    <div class="hero_box d-flex flex-row align-items-center justify-content-start" style="background-color: #2ECC71;">
                        <img src="~/Content/Client/images/books.png" class="svg" alt="">
                        <div class="hero_box_content">
                            <h2 class="hero_box_title">News</h2>
                            <a href="/news" class="hero_box_link">view more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 hero_box_col">
                    <div class="hero_box d-flex flex-row align-items-center justify-content-start" style="background-color: #45A0DE;">
                        <img src="~/Content/Client/images/professor.png" class="svg" alt="">
                        <div class="hero_box_content">
                            <h2 class="hero_box_title">Teachers</h2>
                            <a href="/teachers" class="hero_box_link">view more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- NEWS -->
@{
    Html.RenderAction("News", "Home", new { Area = String.Empty });
}

@{
    Html.RenderAction("Events", "Home", new { Area = String.Empty });
}


@Scripts.Render("~/client/home/script")